﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lord Hospital </title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/datepicker/jquery-ui.min.css" rel="stylesheet" />
        <script src="~/Content/datepicker/jquery-ui.min.js"></script>

    <link href="~/Content/DataTables/DataTables-1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:deepskyblue;">
        <div class="container">
            <div class="navbar-header"> 
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a style="color:white" href="/PatientRegistration/Index">Patient</a></li>
                    <li><a style="color:white" href="/Doctor/Index">Doctor</a></li>
                    <li><a style="color:white" href="/Appointment/Index">Appointment</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12" id="page-content-wrapper">

            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success" id="alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                    @TempData["Success"]
                </div>
            }
            @if (TempData["Danger"] != null)
            {
                <div class="alert alert-danger" id="alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                    @TempData["Danger"]
                </div>
            }
                        
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Content/DataTables/DataTables-1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $("#alert-success").fadeTo(2000, 500).slideUp(500, function () {
            $("#alert-success").slideUp(500);
        });

        $(".datepicker").datepicker();

    </script>
</body>
</html>
